.form-spacing-top{
	margin-top:30px;
}
.darkslateblue
{
	background-color:#483D8B;
    color:#ffffff;
    background-image: url("//giphy.com/embed/26uf5HjasTtxtNCqQ.gif");
}
.green
{
	 color: green;
}

.bs-example{
    	margin: 20px;
    }
 .modal-content iframe{
        margin: 0 auto;
        display: block;
    }
#comment{
    background:#f0f0f0;
    border:none;
    border-left:2px solid #fff;
    font-size:12px;
    padding:10px;
    width:100%;


    transition: background 2s, border-left 2s;
}
#comment:focus{
    background:#fff;
    box-shadow:none;
    border-left:2px solid #000;
}
#post{
    background:transparent;
    color:#00f28f;
    cursor:pointer;
    font-size:15px;

}

#post:hover{
    background: #00f28f;
    color:#fff;
}

.author-image{
    width:50px;
    height:50px;
    border-radius:100%;
    

}

.author-time{
    font-size:11px;
    font-style:italics;
    color:#aaa;
}
.author-info{
    margin-bottom: 10px;
}